$column-number: 18;
$row-number: 10;
$element-size: 80px;

// ********** POSITIONS **********
@mixin defineElementPosition($elementAtomicNumber, $column, $row) {
  &.an#{$elementAtomicNumber} {
    grid-column: #{$column}/#{$column + 1};
    grid-row: #{$row}/#{$row + 1};
  }
}

@mixin defineContiguousElementsPositionInRow($fromElementAtomicNumber, $fromColumn, $toColumn, $row) {
  @for $column from $fromColumn through $toColumn {
    $elementAtomicNumber: $fromElementAtomicNumber + ($column - $fromColumn);
    @include defineElementPosition($elementAtomicNumber, $column, $row);
  }
}

@mixin defineAllElementsPosition() {
  // Line 1
  @include defineElementPosition(1, 1, 1);
  @include defineElementPosition(2, 18, 1);
  // Line 2
  @include defineContiguousElementsPositionInRow(3, 1, 2, 2);
  @include defineContiguousElementsPositionInRow(5, 13, 18, 2);
  // Line 3
  @include defineContiguousElementsPositionInRow(11, 1, 2, 3);
  @include defineContiguousElementsPositionInRow(13, 13, 18, 3);
  // Line 4
  @include defineContiguousElementsPositionInRow(19, 1, 18, 4);
  // Line 5
  @include defineContiguousElementsPositionInRow(37, 1, 18, 5);
  // Line 6
  @include defineContiguousElementsPositionInRow(55, 1, 2, 6);
  @include defineContiguousElementsPositionInRow(72, 4, 18, 6);
  // Line 7
  @include defineContiguousElementsPositionInRow(87, 1, 2, 7);
  @include defineContiguousElementsPositionInRow(104, 4, 18, 7);
  // Line 9
  @include defineContiguousElementsPositionInRow(57, 4, 18, 9);
  // Line 10
  @include defineContiguousElementsPositionInRow(89, 4, 18, 10);
}

// ********** COLORS **********
.periodic-table .nonmetal, .halogen {
  background: linear-gradient(110deg, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.3));
}

.periodic-table .metalloid {
  background: linear-gradient(110deg, rgba(140, 190, 0, 0.2), rgba(140, 190, 0, 0.3));
}

.periodic-table .noble-gas {
  background: linear-gradient(110deg, rgba(255, 152, 0, 0.2), rgba(255, 152, 0, 0.3));
}

.periodic-table .alkali-metal {
  background: linear-gradient(110deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.25));
}

.periodic-table .alkaline-earth-metal {
  background: linear-gradient(110deg, rgba(64, 64, 255, 0.2), rgba(64, 64, 255, 0.25));
}

.periodic-table .post-transition-metal {
  background: linear-gradient(110deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.3));
}

.periodic-table .transition-metal {
  background: linear-gradient(110deg, rgba(0, 128, 255, 0.2), rgba(0, 128, 255, 0.3));
}

.periodic-table .lanthanide {
  background: linear-gradient(110deg, rgba(0, 255, 255, 0.25), rgba(0, 255, 255, 0.35));
}

.periodic-table .actinide {
  background: linear-gradient(110deg, rgba(64, 255, 192, 0.25), rgba(64, 255, 192, 0.35));
}

// ********** GENERAL **********
h1 {
  color: #5b616b;
  font-family: "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 2.8em;

}

.periodic-table {
  display: grid;
  grid-template-columns: repeat($column-number, $element-size [col-start]);
  grid-template-rows: repeat($row-number, $element-size [col-start]);
  font-family: "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif;
}

.periodic-table .element {
  border: 2px solid #fff;
  display: inline-grid;
  align-items: center;
  padding-top: .25em;
  padding-bottom: .25em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);

  @include defineAllElementsPosition();
}

.periodic-table .element .atomic-number {
  margin: 0 auto;
  font-size: .75em;
}

.periodic-table .element .symbol {
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.25em;
}

.periodic-table .element .name {
  margin: 0 auto;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .625em;
  font-weight: 500;
}

.periodic-table .element .group {
  margin: 0 auto;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: .625em;
}

